@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
        #da2e2c 49%,
        #090029 49%,
        #090029 51%,
        #fff 51%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 35%;
    height: 90%;
    border: 0.5em solid #090029;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cabecera {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen-titulo {
    height: 80px;
    margin-bottom: 10px;
}

.cabecera p {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.contenido {
    flex: 6;
    /* background-color: #d97371; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-pokemon {
    /* background-color: aquamarine; */
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-pokemon img {
    width: 300px;
    height: 350px;
}

.hide {
    filter: brightness(0);
}

.contenido-pokemon{
    /* background-color: bisque; */
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin-right: 5px;
} 

.dato {
    font-size: medium;
    font-size: 0.8em;
    font-family: "Press Start 2P", system-ui;
    line-height: 2;
}

.contenedor-botones {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-nombre{
    background: linear-gradient( #da2e2c 50%,  #fff 50%    );
    height: 6em;
    width: 7em;
    font-size: 1em;
    border: 0.3em solid #090029;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.btn-nombre.correcto {
    background: linear-gradient(#05bd2c 50%, #05bd2c 50%);
    color: #fff;
}

.btn-nombre.incorrecto {
    background: linear-gradient(#eb0a0a 50%, #eb0a0a 50%);
    color: #fff;
} 

.btn-nombre:hover {
    background: linear-gradient( #fccb02 50%,  #385997 50% );
    color: #fff;
}

.contenedor-resultado {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-score {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5px;
}

.score {
    font-size: 1.5em;
    font-weight: 500;
}

.tiempo {
    font-size: 1.2em;
    font-weight: 500;
}

.siguiente {
    margin-right: 25px;
    background-color: #090029;
    color: #fff;
    font-size: 1.5rem;
    width: 8em;
    height: 3em;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.siguiente:hover {
    background-color: #090029ce;
}