* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 40%;
    height: 95%;
    border: rgb(14, 241, 218) solid 5px;
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: rgb(39, 15, 98);
}

.first {
    border: rgb(14, 241, 218) solid 4px;
    margin-top: 20px ;
    flex: 1;
    margin: 20px 25px 0px;
}

.second {
    border: rgb(14, 241, 218) solid 4px;
    flex: 0.5;
    margin: 0px 60px 0px;
}

.third {
    border: rgb(235, 23, 157) solid 3px;
    flex: 4;
    margin: 0px 60px 0px;
}

.fourth {
    border: rgb(14, 241, 218) solid 4px;
    margin-bottom: 10px;
    flex: 3;
    margin: 0px 25px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
}

.fourth-first {
    border: rgb(235, 23, 157) solid 2px;
    flex: 2;
    margin: 10px 10px 15px;
}

.fourth-second {
    border: rgb(235, 23, 157) solid 2px;
    flex: 1;
    margin: 10px 10px 15px;
}
